.login-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 550px;
}

.login-form {
    width: 100%;
}

.login-button-area {
    align-items: center;
}

.bottomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 550px;
}

.loginBtn {
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    height: 45px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.kakaoBtn {
    border: 1px solid #f2c94c;
}

.kakaoBtn::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 14px;
    background: url("../assets//images/login/logo_kakao.svg") no-repeat center
        center;
    background-size: contain;
}

.googleBtn {
    border: 1px solid #4185f4;
    background-color: #fff;
}

.googleBtn::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 14px;
    background: url("../assets//images/login/logo_google.svg") no-repeat center
        center;
    background-size: contain;
}
