.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.productName {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.productPrice {
    font-size: 1em;
    color: #666;
    text-align: center;
}

.card:hover .productName,
.card:hover .productPrice {
    color: #000;
}
